---
// Send form to the Backend API

// Async => Asynchronous, this means that can manipulate code that takes time like HTTP 

let errorMessage = '';
const title = "Sign-Up"

// The event is the parameter that reprensents the submit form (submit object)
const handleSubmit = async (event) => {

    //  Prevents the form sending data and reloading the page, we want to send the data in a controlled manner
    event.preventDefault();


// formData is an object that thow data form
// event.target is the form
    const formData = new FormData(event.target);

    //  This fields throw the dat form written by the user
    const userData = {
        username: formData.get('username'),
        email: formData.get('email'),
        password: formData.get("password")
        
    };


    try {

        // The await means that the codes will stopped until the server response
        // Fetch is a function that make HTTP requests in the navigator, in this case the request is for 'api/users/create'
        const response = await fetch('/api/users/create',{
            // POST is for create new sources
            method: 'POST',
            // This headers means that you are sending data in JSON format
            headers: {'Content-Type': 'application/json'},
            // Transform the userData object to a JSON string
            body: JSON.stringify(userData),
        });
        
        // If the server response is ok 
        if (response.ok) {
            window.location.href = '/login';
        } else {
            const error = await response.json();
            errorMessage = error.message || 'An error was ocurred';
            console.error(errorMessage);
        }
        

    } catch (err) {
        errorMessage = 'Conection Error';
        console.error(errorMessage);
    }
}

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="stylesheet" href="/src/styles/styles.css">
</head>
<body>
    
</body>
</html>

